.user__container {
  @extend %main;
  @extend %main__container;
}

.user__splash {
  @extend %full__container;
  color: $white-primary;
  text-align: center;

  @include susy-media(medium) {
    text-align: left;
  }
}

.user__canvas,
.user__canvas--inner {
  height: 100%;
  width: 100%;
}

.user__canvas {
  @include absolute;
  background-color: $shark;
}

.user__profile {
  @extend %main__container;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.user__icon {
  &--map-marker {
    color: $white-hint;
    margin-right: 1rem;
  }
}

.user__link {
  color: $white-secondary;

  &:hover {
    color: $white-primary;
  }

  &--avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: span(6) + gutter();

    @include susy-media(medium) {
      @include span(full);
      height: auto;
      max-width: 30rem;
      min-width: 22.5rem;
    }
  }

  &--social-media {
    display: inline-block;
    text-shadow: 0 0 .1rem $white-hint;
  }
}

.user__avatar {
  @include span(full);
  margin-bottom: 1rem;

  @include susy-media(medium) {
    @include span(5);
  }

  @include susy-media(large) {
    @include span(4 wider);
    margin-bottom: 0;
  }

  &--img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
}

.user__info {
  @include span(full);
  @include susy-media(medium) {
    float: right;
    padding-left: gutter();
    width: span(7);
  }

  @include susy-media(large) {
    float: left;
    padding-left: 0;
    width: span(6);
  }
}

.user__details {
  @include span(full);
  margin-bottom: gutter(8);

  &--fullname {
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 0 .1rem $white-secondary;
  }

  &--username {
    color: $white-secondary;
    margin-bottom: 0;
  }

  &--location {
    color: $white-hint;
  }
}

.user__stats {
  @include span(full);
  margin-bottom: gutter(10);

  &--td {
    box-shadow: .1rem 0 $white-disabled;
    float: left;
    text-align: center;
    width: (100 / 3) * 1%;

    @include susy-media(medium) {
      padding: 0 span(1);
      width: initial;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &:last-child {
      box-shadow: none;
    }
  }

  &--title {
    line-height: 1;
    margin-bottom: .2rem;
  }

  &--value {
    -webkit-font-smoothing: antialiased;
    color: $white-primary;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 0 0 .1rem $white-secondary;
  }
}

.user__social-media {
  @include span(full);
  background-color: rgba($shark, $hint);
  border-radius: 3rem;
  font-size: 2.4rem;
  padding: 1rem;
  text-align: center;

  @include susy-media(medium) {
    margin-right: span(7) + gutter();
    width: span(5);
  }

  @include susy-media(large) {
    margin-right: 0;
    width: span(6);
  }

  &--item {
    display: inline-block;
    width: 25%;
  }
}
