.avatar {
  border-radius: 50%;
}

.user__container {
  @extend %main;
  @extend %main__container;

  &--menu {
    margin-bottom: gutter(8);

    @include susy-media(medium) {
      margin-bottom: gutter();
    }
  }
}

.user__splash {
  @extend %full__container;
  color: $white-primary;
  text-align: center;

  @include susy-media(medium) {
    text-align: left;
  }
}

.user__canvas,
.user__canvas--inner {
  height: 100%;
  width: 100%;
}

.user__canvas {
  @include absolute;
  background-color: $shark;
}

.user__profile {
  @extend %main__container;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.user__icon {
  &--map-marker {
    color: $white-hint;
    margin-right: 1rem;
  }
}

.user__link {
  color: $white-secondary;

  &:hover {
    color: $white-primary;
  }

  &--avatar {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: span(6) + gutter();

    @include susy-media(medium) {
      @include span(full);
      max-width: 27rem;
      min-width: 22.5rem;
    }

    @include susy-media(large) {
      max-width: 35rem;
    }
  }

  &--icon {
    display: inline-block;
    text-shadow: 0 0 .1rem $white-hint;
  }
}

.user__avatar {
  @include span(full);
  margin-bottom: 1rem;

  @include susy-media(medium) {
    @include span(5);
  }

  @include susy-media(large) {
    @include span(4 wider);
    margin-bottom: 0;
  }

  &--img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
}

.user__info {
  @include span(full);

  @include susy-media(medium) {
    float: none;
    overflow: hidden;
    padding-left: gutter();
    width: auto;
  }

  @include susy-media(large) {
    padding-left: 0;
  }
}

.user__details {
  @include span(full);
  margin-bottom: gutter(8);

  &--fullname {
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 0 .1rem $white-secondary;
  }

  &--username {
    color: $white-secondary;
    margin-bottom: 0;
  }

  &--location {
    color: $white-hint;
  }
}

.user__stats {
  @include span(full);
  margin-bottom: gutter(10);

  &--td {
    box-shadow: .1rem 0 $white-disabled;
    float: left;
    text-align: center;
    width: (100 / 3) * 1%;

    @include susy-media(medium) {
      padding: 0 span(1);
      width: initial;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &:last-child {
      box-shadow: none;
    }
  }

  &--title {
    line-height: 1;
    margin-bottom: .2rem;
  }

  &--value {
    -webkit-font-smoothing: antialiased;
    color: $white-primary;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 0 0 .1rem $white-secondary;
  }
}

.user__action-bar {
  @include span(full);
  border-radius: 3rem;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: gutter();
  text-align: center;

  @include susy-media(medium) {
    width: span(5);
  }

  @include susy-media(large) {
    width: span(6);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--social-media {
    background-color: rgba($shark, $hint);
  }

  &--soundcloud {
    background-color: $sc-orange;
    overflow: hidden;
    position: relative;

    @include susy-media(medium) {
      margin-right: span(7) + gutter();
    }

    @include susy-media(large) {
      margin-right: 0;
    }

    &:hover {
      background-color: $sc-focus;
    }
  }
}

.web-icon__list {
  font-size: 2.4rem;

  &--item {
    display: inline-block;
    width: 25%;
  }
}

.web-icon__link {
  color: $link;

  &:hover {
    color: $link--hover;
  }
}

.user__soundcloud {
  &--img {
    @include absolute(top right bottom left);
    margin: auto;
    width: 12rem;
  }
}

.user__description {
  background-color: $white-primary;
  border-radius: .5rem;
  font-size: 1.8rem;
  line-height: 1.55;
  padding: 1.5rem;

  &--inner {
    width: 100%;

    @include susy-media(medium) {
      margin: 0 auto;
      max-width: 90%;
      padding-bottom: 3rem;
      padding-top: 3rem;
      width: em($medium);
    }
  }

  &--span {
    margin-right: .2rem;
  }

  &--link {
    border-bottom: .1rem dotted $black-disabled;
    color: $link__accent;

    &:active,
    &:hover,
    &:focus {
      border-color: $link__accent--hover;
    }

    &:visited {
      color: $link--visited;
    }
  }

  &--atSoundCloud {
    color: $link__sc;

    &:active,
    &:hover,
    &:focus {
      border-color: $link__sc--hover;
    }
  }

  &--mailto {
    color: $link__mail;

    &:active,
    &:hover,
    &:focus {
      border-color: $link__mail--hover;
    }
  }

  &--none {
    color: $black-hint;
    text-align: center;
  }
}
