.container {
  @include container;
}

.gallery {
  @include gallery(6);
  background-color: $white;
  box-shadow: 0 .1rem .2rem $black-disabled;
  margin-bottom: gutter();
  overflow: hidden;

  @include breakpoint($medium) {
    @include gallery(4);
  }

  @include breakpoint($large) {
    @include gallery(2);
  }
}

.artwork {
  display: block;
  padding-top: 100%;
  width: 100%;
}

.song-title,
.song-user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-title {
  font-weight: 700;
}

.main {
  margin-top: $bar-height;
  padding: gutter(6) 0;
  position: relative;
}

.song-group {
  box-shadow: 0 -.1rem .1rem $black-disabled;
  padding: gutter(3);

  h6 {
    margin: 0;
  }
}
