.container {
  @include container;
}

.gallery {
  @include gallery(6);
  background-color: $light-gray;
  margin-bottom: gutter();

  @include breakpoint($medium) {
    @include gallery(4);
  }

  @include breakpoint($large) {
    @include gallery(2);
  }
}

.artwork {
  display: block;
  padding-top: 100%;
  width: 100%;
}

.song-title,
.song-user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-title {
  font-weight: 700;
}

.main {
  padding: gutter() 0;
}
