.container {
  @include container;
}

.gallery {
  @include gallery(6);
  background-color: $dark-gray;
  margin-bottom: gutter();
  padding-top: span(6);

  @include breakpoint($medium) {
    @include gallery(4);
    padding-top: span(4);
  }

  @include breakpoint($large) {
    @include gallery(3);
    padding-top: span(3);
  }
}

.main {
  padding: gutter() 0;
}
