.header {
  background-color: tint($dark-gray, 5%);
  height: $bar-height;
}

.header-section {
  @extend %ul-justify;
  color: $white;
  float: left;

  &:last-child {
    float: right;
  }

  a,
  i {
    display: block;
    line-height: 5rem;
  }
}

.title {
  a {
    color: $white;
    margin-left: 1.5rem;
  }
}

.login a {
  color: $white;
}
