.header {
  background-color: $shark;
  color: $white-primary;
  height: $bar-height;
  line-height: $bar-height;

  &__container {
    @extend %main__container;
  }
}

.header__section {
  @extend %justified;
  color: $white-primary;

  &--main {
    float: left;
  }

  &--login {
    float: right;
  }
}

.header__item {
  @extend %justified__item;

  &--link {
    color: $white-primary;
    display: block;
  }

  &--img {
    vertical-align: middle;
  }

  &--music {
    margin-right: 1.5rem;
  }
}

.soundcloud {
  &--connect {
    content: url('http://connect.soundcloud.com/2/btn-connect-m.png');

    @include susy-media(medium) {
      content: url('http://connect.soundcloud.com/2/btn-connect-sc-m.png');
    }
  }

  &--disconnect {
    content: url('http://connect.soundcloud.com/2/btn-disconnect-m.png');
  }
}
