.header {
  background-color: $dark-gray;
  height: 5rem;
}

.header-section {
  @extend %reset-ul;
  color: $white;
  float: left;

  & + & {
    float: right;
  }

  a,
  i {
    display: block;
    line-height: 5rem;
  }
}

.title {
  a {
    color: $white;
    margin-left: 1.5rem;
  }
}

.login a {
  color: $white;
}
