.main {
  margin-top: $bar-height;
  position: relative;

  &--push {
    margin-bottom: $player-height;
  }

  &__collection {
    @extend %main;
  }
}

.main__container {
  @extend %main__container;
}
