.sub-nav {
  margin-bottom: 1.5rem;
  position: relative;

  &::after {
    @include absolute(bottom left);
    border-bottom: .4rem solid $white-secondary;
    content: '';
    width: 100%;
    z-index: -1;
  }
}

.sub-nav__list {
  @extend %clearfix;
  @extend %lead;
  color: $black-secondary;
  font-weight: 300;
  height: 4.8rem;
  overflow: hidden;
}

.sub-nav__item {
  float: left;
  margin-right: 2rem;
}

.sub-nav__link {
  border-bottom: .4rem solid transparent;
  display: block;
  padding: .6rem;

  &:hover {
    color: $black-primary;
  }

  &--active {
    border-color: rgba($shark, $primary);
    color: $black-primary;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    transition: border-color .1s linear;

    &::after {
      @include absolute(bottom -.4rem left right);
      background-color: rgba($shark, $primary);
      content: '';
      height: .8rem;
      margin: auto;
      transform: rotate(45deg);
      width: .8rem;
    }
  }
}
