.nav {
  background-color: $n-main-color;
  box-shadow: 0 .1rem .3rem $black-hint;
  line-height: $bar-height;
  margin-bottom: -$bar-height;

  &--sticky {
    @include fixed(top);
    width: 100%;
    z-index: $n-stack-level;
  }
}

.nav__container {
  @extend %main__container;
}

.nav__section {
  color: $n-text-color;
  float: left;

  &--menu {
    display: none;

    @include susy-media(medium) {
      @extend %menu;
      display: initial;
      float: left;
      width: span(11);
    }

    @include susy-media(large) {
      width: span(7);
    }
  }

  &--bars {
    float: left;

    @include susy-media(medium) {
      display: none;
    }
  }

  &--search {
    float: right;
    position: relative;
    text-align: right;
  }
}

.nav__item {
  @extend %menu__item;
  border-right: .1rem solid $black-disabled;

  &:first-child {
    border-left: .1rem solid $black-disabled;
  }
}

.nav__link {
  @extend %menu__link;

  &:hover,
  &--active {
    @extend %menu__link--active;
  }
}
