.nav-bar {
	background-color: $light-gray;
	height: 4rem;
}

.nav-section {
	@extend %reset-ul;
	float: left;

	& + & {
		@include breakpoint($medium) {
			display: none;
		}
	}

	a {
		display: block;
		line-height: 4rem;
	}
}

.genre {
	border-right: .1rem solid $black-disabled;

	&:first-child {
		border-left: .1rem solid $black-disabled;
	}

	a {
		padding: 0 1.5rem;
		transition: $transition-default;

		&:hover {
			@extend %active;
		}
	}

	.nav-section & {
		@include breakpoint($small-only) {
			display: none;
		}
	}
}

.active {
	@extend %active;
}
