%main {
  padding-bottom: gutter(6);
  padding-top: gutter(6);
  position: relative;

  &-container {
    @include container;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    width: 100%;

    @include susy-media(medium) {
      width: 90%;
    }
  }
}

%full-container {
  @include container(100%);
  position: relative;
}

%input-search {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

%ul-justify {
  display: table;

  > li {
    display: table-cell;
    vertical-align: middle;
  }
}

%reset-white-space {
  font-size: 0;
  line-height: 0;
}

%clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

%small {
  font-size: 80%;
  line-height: inherit;
}

%lead {
  font-size: 125%;
  line-height: 1.6;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
