%main-container {
  @include container;
}

%player-container {
  @include container(100%);
  position: relative;
}

%input-search {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

%ul-justify {
  display: table;

  > li {
    display: table-cell;
    vertical-align: middle;
  }
}

%clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

%small {
  font-size: 80%;
  line-height: inherit;
}

%lead {
  font-size: 125%;
  line-height: 1.6;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
