.invis {
  visibility: hidden;
}

// Resets
%reset-white-space {
  font-size: 0;
  line-height: 0;
}

%clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Form
%input-search {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
  }
}

// Lists
%justified {
  display: table;
  table-layout: fixed;

  &__item {
    display: table-cell;
    vertical-align: middle;
  }
}

// Text
%small {
  font-size: 80%;
  line-height: inherit;
}

%lead {
  font-size: 125%;
  line-height: 1.6;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Wrappers
%main {
  padding-bottom: gutter(8);
  padding-top: gutter(8);

  @include susy-media(medium) {
    padding-bottom: gutter();
    padding-top: gutter();
  }

  &__container {
    @include container;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    width: 100%;

    @include susy-media(medium) {
      width: 90%;
    }
  }
}

%full__container {
  @include container(100%);
  position: relative;
}
