// z-index
$stack-level: 10;


// Typography
$font-primary: 'Lato', sans-serif;
$root-font-size: 62.5%;
$base-font-size: 1.6rem;
$base-line-height: 1.5;

$header-line-height: 1.4;
$header-margin: 0 0 .8rem 0;


// Opacity
$disabled: .12;

// Dark Colors
$primary: .87;
$secondary: .54;
$hint: .38;

// Light Colors
$l-primary: 1;
$l-secondary: .7;
$l-hint: .3;


// Main Color Scheme
$white: #fff;
$black: #000;
$shark: #262728;
$dark-gray: #1b1c1d;
$light-gray: #ebeae8;
$light-pink: #f7379f;
$cyan: #00fff2;
$pink-disabled: tint($light-pink, 30%);
$pink-dark: shade($light-pink, 5%);
$wan-white-gray: shade($light-gray, 1%);

// SoundCloud Colors
$sc-orange: #f50;
$sc-focus: shade($sc-orange, 3%);
$sc-pink: mix($light-pink, $sc-orange, 48%);
$sc-pink--dark: shade($sc-pink, 5%);
$sc-pink--disabled: tint($sc-pink, 30%);


// Text Colors
$black-primary: rgba($black, $primary);
$black-secondary: rgba($black, $secondary);
$black-hint: rgba($black, $hint);
$black-disabled: rgba($black, $disabled);

$white-primary: rgba($white, $l-primary);
$white-secondary: rgba($white, $l-secondary);
$white-hint: rgba($white, $l-hint);
$white-disabled: rgba($white, $disabled);


// Link Colors
$link: $white-secondary;
$link--hover: $white-primary;
$link--visited: mix($light-pink, $cyan, 80%); 

$link__accent: $light-pink;
$link__accent--hover: shade($link--accent, 5%);

$link__sc: mix($light-pink, $sc-orange, 48%);
$link__sc--hover: shade($link__sc, 5%);

$link__mail: mix($light-pink, $cyan, 30%);
$link__mail--hover: shade($link__mail, 5%);


// Transition
$trans-duration: .2s;
$trans-func: ease-in-out;
$trans-default: $trans-duration $trans-func;


// Bar Height
$bar-height: 5rem;


// Audio Player Config
$player-height: 6rem;
$player-icon-shadow: 0 -.1rem .2rem $white-hint;


// Menu
$n-text-color: $black-secondary;
$n-text-active: $black-primary;
$n-stack-level: $stack-level + 10;
$n-main-color: $white;
$n-focus: shade($n-main-color, 3%);
$n-accent: inset 0 -.2rem 0 $light-pink;


// Search Modal Config
$m-stack-level: $n-stack-level + 10;
$m-transition-short: $trans-default;
$m-transition-long: .5s $trans-func;
$m-overlay-bg: linear-gradient(
  shade($light-pink, 25%) 0%,
  $light-pink 49%,
  tint($light-pink, 25%) 100%
);


// Side Menu Config
$oc-width: 30rem;
$oc-hover: $light-pink;
$oc-background: $shark;
$oc-link: $white-secondary;
$oc-border: solid .1rem $white-disabled;
$oc-stack-level: $n-stack-level + 10;
$oc-transition: .5s ease;


// Breakpoints
$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;


// Susy
$susy: (
  global-box-sizing: border-box,
  container: em($xlarge),
  columns: 12,
  debug: (
    image: show,
    output: overlay
  )
);

$susy-media: (
  'small': $small,
  'medium': em($medium),
  'large': em($large),
  'xlarge': em($xlarge),
  'small-only': max-width (em($medium - 1px)),
  'medium-only': em($medium) (em($large - 1px)),
  'large-only': em($large) (em($xlarge - 1px))
);
