.actionbar {
  @include span(full);
  border-radius: 3rem;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: gutter();
  text-align: center;

  @include susy-media(medium) {
    width: span(5);
  }

  @include susy-media(large) {
    width: span(6);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--shark {
    background-color: rgba($shark, .3);
  }

  &--soundcloud {
    background-color: $sc-orange;
    overflow: hidden;
    position: relative;

    @include susy-media(medium) {
      margin-right: span(7) + gutter();
    }

    @include susy-media(large) {
      margin-right: 0;
    }

    &:hover {
      background-color: $sc-focus;
    }
  }
}

.actionbar__soundcloud {
  @include absolute(top right bottom left);
  margin: auto;
  width: 12rem;
}
