.article {
  @extend %clearfix;
  background-color: $white;
  border-radius: .5rem;
  overflow: hidden;
  padding: 1.5rem;
  text-align: center;

  &--lg {
    font-size: 1.8rem;
    line-height: 1.55;
  }

  &--push {
    margin-bottom: 1.5rem;
  }
}

.article-wrap {
  padding-bottom: 3rem;
  text-align: left;
  width: 100%;

  @include susy-media(medium) {
    margin: 0 auto;
    max-width: 90%;
    padding-top: 3rem;
    width: em($medium);
  }

  &--fill {
    overflow: hidden;
    width: auto;
  }

  &--is-collapsed {
    margin-bottom: gutter();
    position: relative;

    &::after {
      @include absolute(bottom left);
      background: linear-gradient(
        transparent,
        $white
      );
      content: '';
      height: 10rem;
      pointer-events: none;
      width: 100%;
    }
  }
}

.article__avatar {
  float: left;
  height: 10rem;
  margin-right: gutter();
  position: relative;
  text-align: left;
  width: 10rem;

  @include susy-media(medium) {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  &--img {
    @include absolute;
  }
}

.article__paragraph {
  &:last-child {
    margin-bottom: 0;
  }
}

.article__none {
  color: $black-hint;
  line-height: 3;
  margin: 0;
  text-align: center;

  &--track {
    height: 10rem;
    line-height: 10rem;
    margin: 1.5rem 0;
    overflow: hidden;
    text-align: left;
  }
}
