.artwork {
  background: repeating-linear-gradient(
    -45deg,
    shade($wan-white-gray, 15%),
    shade($wan-white-gray, 15%) 1.5rem,
    shade($wan-white-gray, 25%) 1.5rem,
    shade($wan-white-gray, 25%) 3rem
  );

  &--badge {
    background: repeating-linear-gradient(
      -45deg,
      shade($wan-white-gray, 15%),
      shade($wan-white-gray, 15%) 1rem,
      shade($wan-white-gray, 25%) 1rem,
      shade($wan-white-gray, 25%) 2rem
    );
  }

  &:hover {
    .artwork__filter {
      opacity: 1;
    }
  }
}

.artwork__fav {
  @include absolute(top em(-62.5px) left em(-62.5px));
  background-color: tint($shark, 86%);
  cursor: pointer;
  display: block;
  font-size: initial;
  height: em(125px);
  text-align: center;
  transform: rotate(45deg);
  white-space: nowrap;
  width: em(125px);
  z-index: 1;

  &:hover {
    background-color: tint($shark, 80%);

    .artwork__fav-icon {
      color: $light-pink;
      text-shadow: 0 -.1rem .2rem rgba($light-pink, $hint);
    }
  }

  &--profile {
    height: em(145px);
    left: em(-72.5px);
    top: em(-72.5px);
    width: em(145px);
  }
}

.artwork__filter {
  @include absolute(top right bottom left);
  background-color: rgba($black, .25);
  border: .5rem solid rgba($white, .9);
  border-radius: 50%;
  box-shadow: 0 0 .1rem rgba($black, .25);
  font-size: initial;
  height: em(100px);
  margin: auto;
  opacity: 1;
  transition: opacity, background-color $trans-default;
  width: em(100px);
  z-index: 1;

  @include susy-media(medium) {
    height: em(115px);
    opacity: 0;
    width: em(115px);
  }

  &::after {
    @include relative(left em(1px));
    color: rgba($white, .85);
    content: '\25B6';
    display: block;
    font-size: 6rem;
    text-shadow: 0 0 .1rem rgba($white, .4);

    @include susy-media(medium) {
      font-size: 7rem;
    }
  }

  &:hover {
    background-color: $black-hint;

    &::after {
      color: rgba($white, .95);
    }
  }

  &--profile {
    @include susy-media(small-only) {
      height: em(125px);
      width: em(125px);

      &::after {
        font-size: 7rem;
      }
    }
  }
}

.artwork__fav-icon {
  @include relative(left em(25px) top .14285714em);
  color: $black-hint;
  font-size: 2.3rem;
  transform: rotate(-45deg);
  transition: color .2s ease,
              text-shadow .2s ease;

  &--is-fav {
    color: $light-pink;
    text-shadow: 0 -.1rem .2rem rgba($light-pink, $hint);
  }

  &--profile {
    font-size: 2.5rem;
  }
}

.artwork__img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.artwork__wrapper {
  overflow: hidden;
  position: relative;
}
