.article {
  background-color: $white;
  border-radius: .5rem;
  font-size: 1.8rem;
  line-height: 1.55;
  padding: 1.5rem;
}

.article-wrap {
  width: 100%;

  @include susy-media(medium) {
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 3rem;
    padding-top: 3rem;
    width: em($medium);
  }
}

.article__paragraph {
  &:last-child {
    margin-bottom: 0;
  }
}

.article__none {
  color: $black-hint;
  line-height: 3;
  margin: 0;
  text-align: center;

  &--track {
    line-height: 10rem;
    text-align: left;
  }
}
