.btn {
  @extend %btn;
  display: inline-block;

  &--xs {
    font-size: 1.2rem;
    padding: em(4px) em(15px);
  }

  &--sm {
    font-size: 1.2rem;
    padding: em(8px) em(20px);
  }

  &--md {
    font-size: 1.4rem;
    padding: em(8px) em(31px);
  }

  &--lg {
    font-size: 1.8rem;
    padding: em(10.5px) em(28px);
  }

  &--basic {
    @extend %btn--basic;
  }

  &--gray {
    @extend %btn--gray;
  }

  &--disabled {
    @extend %btn--disabled;
    box-shadow: none;
  }
}

.btn__follow {
  @extend %btn--follow;

  &::after {
    content: 'follow';
  }

  &--cta {
    background-color: rgba($white, .2);
    box-shadow: 0 0 0 2px rgba($white, .5);
    color: $white;
    transition: all $trans-default;

    &:hover {
      background-color: $hot-pink;
      box-shadow: 0 0 0 2px $hot-pink;
    }

    &:active {
      background-color: $violet-red;
      box-shadow: 0 0 0 2px $violet-red;
    }
  }

  &--light {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px $hot-pink;
    color: $hot-pink;

    &:hover {
      background-color: $hot-pink;
      box-shadow: inset 0 0 0 1px $hot-pink;
      color: $white;
    }

    &:active {
      background-color: $violet-red;
      box-shadow: inset 0 0 0 1px $violet-red;
    }
  }
}

.btn__following {
  @extend %btn--follow;
  color: $hot-pink;

  &::after {
    content: 'following';
  }

  &:hover {
    &::after {
      content: 'unfollow';
    }
  }

  &--cta {
    background-color: rgba($white, .8);
    box-shadow: 0 0 0 2px $hot-pink;
    color: $hot-pink;
    transition: all .25s ease-in-out;

    &:hover {
      background-color: rgba($white, .4);
      box-shadow: 0 0 0 2px rgba($white, .8);
      color: $white;
    }

    &:active {
      background-color: rgba($white, .5);
      box-shadow: 0 0 0 2px rgba($white, .9);
    }
  }

  &--light {
    background-color: $hot-pink;
    box-shadow: inset 0 0 0 1px $white;
    color: $white;

    &:hover {
      background-color: rgba($white, .4);
      box-shadow: inset 0 0 0 1px $hot-pink;
      color: $hot-pink;
    }

    &:active {
      box-shadow: inset 0 0 0 1px $hollywood-cerise;
      color: $hollywood-cerise;
    }
  }
}

.btn__icon {
  &--left {
    margin-right: em(2px);
  }

  &--right {
    margin-left: em(2px);
  }
}
