.btn {
  @extend %btn;
  display: inline-block;

  &--sm {
    font-size: 1.2rem;
    padding: em(4px) em(15px);
  }

  &--md {
    font-size: 1.4rem;
    padding: em(8px) em(31px);
  }

  &--basic {
    @extend %btn--basic;
  }

  &--gray {
    @extend %btn--gray;
  }

  &--disabled {
    @extend %btn--disabled;
    box-shadow: none;
  }
}

.btn__icon {
  &--left {
    margin-right: em(2px);
  }

  &--right {
    margin-left: em(2px);
  }
}
