.canvas-container {
  @extend %full__container;
  background-color: $shark;
  text-align: center;

  @include susy-media(medium) {
    text-align: left;
  }

  &--rainbow-grad {
    background: linear-gradient(
      135deg,
      mix($shark, rgba($aquamarine, 1), 15%),
      mix($shark, rgba($gorse, 1), 15%),
      mix($shark, rgba($persian-rose, 1), 15%)
    );
  }
}

.canvas {
  @include absolute(left);
  height: 100%;
  opacity: $primary;
  width: 100%;

  &--translucent {
    opacity: $secondary;
  }

  &--ghost {
    opacity: .65;
  }
}
