.card {
  @include span(full);
  background-color: transparent;

  @include susy-media(large) {
    display: flex;
    flex-wrap: wrap;
  }
}

.card__item {
  @include span(full);
  background-color: $white;
  border-radius: .5rem;
  margin-bottom: gutter(8);
  overflow: hidden;

  @include susy-media(large) {
    float: none;
    margin-bottom: gutter();
    margin-right: gutter();
    padding: 1rem;
    width: span(6);

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include susy-media(xlarge) {
    margin-right: gutter();
    width: span(3);

    &:nth-child(even) {
      margin-right: gutter();
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }
  }
}

.card__cover {
  float: left;
  height: 12.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include susy-media(medium) {
    @include span(4);
    height: auto;
    max-height: 24rem;
    max-width: 24rem;
  }

  @include susy-media(large) {
    @include span(6 wider);
    max-height: none;
    max-width: none;
  }

  @include susy-media(xlarge) {
    @include span(full);
  }

  &--img {
    @include absolute(top right bottom left);
    display: block;
    height: auto;
    margin: auto;
    width: 100%;

    @include susy-media(medium) {
      float: left;
      position: relative;
    }
  }
}

.card__cover--link {
  @extend %reset-white-space;
  background-color: $shark;
  display: block;
  height: auto;
  padding-bottom: 25%;
  width: 100%;

  @include susy-media(medium) {
    padding-bottom: 100%;
  }
}

.card__content {
  float: left;
  padding: 1rem;
  width: 100%;

  @include susy-media(medium) {
    float: none;
    overflow: hidden;
    width: auto;
  }

  @include susy-media(large) {
    padding: 0 0 0 1rem;
  }

  @include susy-media(xlarge) {
    float: left;
    padding: 1rem 0 0;
    width: 100%;
  }

  &--title,
  &--byline {
    margin: 0;
  }

  &--byline {
    color: $black-secondary;
  }

  &--date {
    color: $black-hint;
    margin-bottom: 1rem;
  }

  &--tag {
    background-color: rgba($light-gray, $secondary);
    border-radius: 2rem;
    color: $black-hint;
    float: right;
    font-size: 1.4rem;
    padding: .5rem;
  }
}
