.card {
  @include span(full);
  background-color: transparent;

  @include susy-media(large) {
    display: flex;
    flex-wrap: wrap;
  }
}

.card__item {
  @include span(full);
  background-color: $white;
  border-radius: .5rem;
  margin-bottom: gutter(8);
  overflow: hidden;

  @include susy-media(large) {
    float: none;
    margin-bottom: gutter();
    margin-right: gutter();
    padding: 1rem;
    width: span(6);

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include susy-media(xlarge) {
    margin-right: gutter();
    width: span(3);

    &:nth-child(even) {
      margin-right: gutter();
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }
  }

  // @include susy-media(large) {
  //   @include gallery(6);
  //   padding: 1rem;
  // }

  // @include susy-media(xlarge) {
  //   @include gallery(4);
  // }
}

.card__cover {
  float: left;
  height: 12.5rem;
  margin-bottom: gutter();
  overflow: hidden;
  position: relative;
  width: 100%;

  @include susy-media(medium) {
    @include span(4);
    height: auto;
    margin-bottom: 0;
    max-height: 24rem;
    max-width: 24rem;
  }

  @include susy-media(large) {
    @include span(6 wider);
    max-height: none;
    max-width: none;
  }

  @include susy-media(xlarge) {
    @include span(full);
    margin-bottom: gutter();
  }

  &--img {
    @include absolute(top right bottom left);
    display: block;
    height: auto;
    margin: auto;
    width: 100%;

    @include susy-media(medium) {
      float: left;
      position: relative;
    }
  }
}

.card__cover--link {
  @extend %reset-white-space;
  background-color: $shark;
  display: block;
  height: auto;
  padding-bottom: 25%;
  width: 100%;

  @include susy-media(medium) {
    padding-bottom: 100%;

    &:hover {
      .card__cover--filter {
        opacity: 1;
      }
    }
  }

  &:active {
    .card__cover--filter {
      background-color: rgba($white, .6);
      border-color: rgba($black, .75);

      &::after {
        color: rgba($black, .75);
        text-shadow: 0 0 1px $black-disabled;
      }
    }
  }
}

.card__cover--filter {
  @include absolute(top right bottom left);
  background-color: rgba($black, .25);
  border: .5rem solid rgba($white, .9);
  border-radius: 50%;
  height: 10rem;
  margin: auto;
  opacity: 1;
  transition: opacity, background-color $trans-default;
  width: 10rem;

  @include susy-media(medium) {
    height: 50%;
    opacity: 0;
    width: 50%;
  }

  &::after {
    @include absolute(top left);
    color: rgba($white, .85);
    content: '\25B6';
    font-size: 10rem;
    height: 100%;
    padding: 50% 0;
    text-align: center;
    text-shadow: 0 0 .1rem rgba($white, .4);
    width: 100%;

    @include susy-media(medium) {
      font-size: 15vmin;
    }
  }

  &:hover {
    background-color: $black-hint;

    &::after {
      color: rgba($white, .95);
    }
  }
}

.card__content {
  padding: 0 1rem;

  @include susy-media(medium) {
    overflow: hidden;
    padding: 1rem;
    width: auto;
  }

  @include susy-media(large) {
    padding: 0;
  }

  @include susy-media(xlarge) {
    width: 100%;
  }

  &--title,
  &--byline {
    margin: 0;
  }

  &--byline {
    color: $black-secondary;
  }

  &--date {
    color: $black-hint;
    margin-bottom: 1rem;
  }

  &--tag {
    font-size: 1.4rem;
    background-color: rgba($light-gray, $secondary);
    border-radius: 2rem;
    color: $black-hint;
    float: right;
    padding: .5rem;
  }
}
