.dropdown {
  @include absolute(top $bar-height + .5rem right);
  animation: .2s ease-in-out slide-up;
  display: 'block';
  height: auto;
  line-height: initial;
  width: 20rem;
  z-index: $stack;
}

.dropdown__avatar {
  border-radius: 50%;
  display: inline-block;
  height: em(60px);
  margin-right: em(10px);
  vertical-align: middle;
  width: em(60px);
}

.dropdown__content {
  display: block;
  padding: em(8px) em(18px);
  text-align: left;
  width: 100%;
}

.dropdown__divider {
  border-top: .1rem solid $black-disabled;
  height: 0;
  margin: em(6px) 0;
}

.dropdown__icon {
  display: inline-block;
  font-size: 2rem;
  margin-right: em(10px);
  vertical-align: middle;
  width: 2.8rem;

  &--soundcloud {
    color: $sc-orange;
    margin-right: 0;
    width: auto;
  }
}

.dropdown__inline {
  display: inline;
  vertical-align: middle;

  &--divider {
    color: $black-disabled;
    font-size: 1.8rem;
    padding: 0 em(5px);
  }
}

.dropdown__item {
  @extend %small;
  color: $black-secondary;
  display: block;
  overflow: hidden;

  &:first-child {
    border-top-left-radius: .5rem;

    @include susy-media(medium) {
      border-top-right-radius: .5rem;
    }
  }

  &:last-child {
    border-bottom-left-radius: .5rem;

    @include susy-media(medium) {
      border-bottom-right-radius: .5rem;
    }
  }

  &--stateful {
    &:hover {
      background-color: $wan-white-gray;
      color: $black-primary;
    }
  }

  &--greeting {
    color: $black-hint;
    padding: em(13px) em(18px) em(8px);
  }
}

.dropdown__list {
  background-color: $white;
  border-radius: .5rem 0 0 .5rem;
  box-shadow: 0 .1rem .5rem $black-hint;
  z-index: $double-stack;

  @include susy-media(medium) {
    border-radius: .5rem;
  }

  &::before {
    @include absolute(top -.8rem right 2.7rem);
    background-color: $white;
    border-top-left-radius: .3rem;
    box-shadow: 0 -.1rem .1rem -.1rem $black-hint,
                -.1rem 0 .1rem -.1rem $black-hint;
    content: '';
    height: 1.5rem;
    transform: rotate(45deg);
    width: 1.5rem;
  }
}

.dropdown__overlay {
  @include fixed(top left);
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 75%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
