.dropdown {
  @include absolute(top $bar-height + .5rem right);
  animation: .2s ease-in-out slide-up;
  display: none;
  height: auto;
  line-height: initial;
  width: 20rem;
  z-index: $double-stack;

  &::after {
    @include absolute(top -8px right 27px);
    background-color: $white;
    border-top-left-radius: .3rem;
    box-shadow: 0 -.1rem .1rem -.1rem $black-hint,
                -.1rem 0 .1rem -.1rem $black-hint;
    content: '';
    height: 15px;
    transform: rotate(45deg);
    width: 15px;
    z-index: -1;
  }

  &--isOpen {
    display: block;
  }
}

.dropdown__content {
  display: block;
  padding: .7rem 1.8rem;
  text-align: left;
  width: 100%;

  &--greeting {
    @include susy-media(medium) {
      display: none;
    }
  }
}

.dropdown__greeting {
  @extend %small;
  background-color: $white;
  box-shadow: inset 0 -.1rem .1rem -.1rem $black-hint;
  color: $black-hint;
  display: block;
  font-weight: 700;
  overflow: hidden;
  padding: .7rem 1.8rem;

  @include susy-media(medium) {
    display: none;
  }
}

.dropdown__inline {
  display: inline;
  vertical-align: middle;

  &--divider {
    color: $black-disabled;
    font-size: 1.8rem;
    padding: 0 em(5px);
  }

  &--icon {
    color: $sc-orange;
    font-size: 2rem;
  }
}

.dropdown__item {
  @extend %small;
  background-color: $white;
  color: $black-secondary;
  display: block;
  font-weight: 700;
  overflow: hidden;

  &:hover {
    background-color: $wan-white-gray;
    color: $black-primary;
  }
}

.dropdown__list {
  border-radius: .5rem 0 0 .5rem;
  box-shadow: 0 .1rem .5rem $black-hint;
  overflow: hidden;

  @include susy-media(medium) {
    border-radius: .5rem;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 75%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
