.gallery {
  @include gallery(6);
  animation: $trans-duration linear forwards scale-in;
  background-color: $white;
  border-radius: .5rem;
  box-shadow: 0 .1rem .2rem $black-disabled;
  margin-bottom: gutter();
  overflow: hidden;
  transform: scale(0);

  @include susy-media(medium) {
    @include gallery(4);
  }

  @include susy-media(large) {
    @include gallery(3);
  }
}

.gallery__artwork {
  @extend %reset-white-space;
  @include relative;
  background-color: $light-gray;
  display: block;
  padding-bottom: 100%;
  width: 100%;

  // Overlay
  &::before {
    @include absolute;
    background-color: rgba($black, $l-secondary);
    content: '';
    height: 100%;
    opacity: 0;
    transition: opacity .1s ease-out;
    width: 100%;
  }

  // Icon
  &::after {
    @include absolute;
    @include blur(.3rem, rgba($light-gray, $l-primary), rgba($light-gray, $l-primary));
    content: '\f04b';
    font-size: 14vmin;
    opacity: 0;
    padding: 50% 0;
    text-align: center;
    transition: opacity .2s ease-in;
    width: 100%;
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      z-index: 1;
    }

    .gallery__artwork--img {
      filter: blur(.2rem);
    }
  }

  &--img {
    @include absolute;
    border-radius: .5rem .5rem 0 0;
    box-shadow: 0 .1rem .1rem $black-disabled;
    height: auto;
    object-fit: cover;
    transition: filter .1s ease-in-out;
    width: 100%;
  }
}

.gallery__content {
  padding: gutter(3);

  &--title,
  &--byline {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--title {
    font-weight: 700;
  }
}

@keyframes scale-in {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
