.gallery {
  @include gallery(6);
  animation: $trans-duration linear forwards scale-in;
  background-color: $white;
  border-radius: .5rem;
  box-shadow: 0 .1rem .2rem $black-disabled;
  margin-bottom: gutter();
  overflow: hidden;
  transform: scale(0);

  @include susy-media(medium) {
    @include gallery(4);
  }

  @include susy-media(large) {
    @include gallery(3);
  }
}

.gallery__artwork {
  @extend %reset-white-space;
  @include relative;
  background-color: $wan-white-gray;
  display: block;
  padding-bottom: 100%;
  width: 100%;

  &::before,
  &::after {
    opacity: 0;
    width: 100%;
  }

  // Overlay
  &::before {
    @include absolute;
    background-color: $black-disabled;
    content: '';
    height: 100%;
    transition: opacity .1s ease-out;
  }

  &:hover {
    &::before {
      opacity: 1;
      z-index: 1;
    }

    .gallery__artwork--img {
      filter: blur(.2rem);
    }
  }

  &--img {
    @include absolute;
    border-radius: .5rem .5rem 0 0;
    box-shadow: 0 .1rem .1rem $black-disabled;
    height: auto;
    object-fit: cover;
    transition: filter .1s ease-in-out;
    width: 100%;
  }
}

.gallery__content {
  padding: gutter(3);

  &--title,
  &--byline {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--title {
    font-weight: 700;
  }

  &--byline {
    color: $black-secondary;
  }
}

@keyframes scale-in {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
