.interact-bar {
  @include span(full);
  border-radius: 3rem;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: gutter();
  text-align: center;

  @include susy-media(medium) {
    width: span(5);
  }

  @include susy-media(large) {
    width: span(6);
  }

  &:last-child {
    margin-bottom: 0;

    @include susy-media(medium) {
      margin-right: span(7) + gutter();
    }

    @include susy-media(large) {
      margin-right: 0;
    }
  }

  &--shark {
    background-color: rgba($shark, .3);
  }
}
