.link {
  border-bottom: em(1.28px) dotted $black-disabled;
  color: $link;
  padding-bottom: em(1.28px);

  &:hover,
  &:active {
    border-color: $link--hover;
  }

  &:active {
    color: $link--active;
  }

  // Comment
  &--comment {
    color: $black-primary;

    &:hover,
    &:active {
      border-color: $black-primary;
    }
  }

  &--has-visit-state {
    &:visited {
      color: $link--visited;
    }
  }
}
