.menu {
  @extend %clearfix;
  background-color: $n-main-color;
  line-height: $bar-height;

  &--profile {
    @extend %main__container;
    background-color: transparent;
    color: $n-text-color;
    margin-bottom: -$bar-height;
    // overflow: hidden;
    padding-top: gutter(8);

    @include susy-media(medium) {
      padding-top: 1.5rem;
    }
  }

  &--sticky {
    @include fixed(top $bar-height right left);
    animation: $oc-transition slide;
    margin: auto;
    overflow: visible;
    padding: 0 1.5rem;
    z-index: $stack;

    .menu__inner--profile {
      border-radius: 0 0 .5rem .5rem;
      box-shadow: 0 .1rem .3rem rgba($black, .28);
    }

    .menu__text {
      display: none;
    }
  }
}

.menu__inner {
  @extend %justified;
  color: $n-text-color;
  // overflow: hidden;
  text-align: center;
  white-space: nowrap;

  &--nav {
    display: none;

    @include susy-media(medium) {
      display: initial;
      float: left;
      width: span(11);
    }

    @include susy-media(large) {
      width: span(7);
    }
  }

  &--profile {
    background-color: $n-main-color;
    border-radius: .5rem;
    font-size: 2.4rem;
    width: 100%;
  }
}

.menu__item {
  @extend %justified__item;
  border-right: .1rem solid $black-disabled;
  width: 1%;

  &--nav {
    &:first-child {
      border-left: .1rem solid $black-disabled;
    }
  }

  &--profile {
    &:last-child {
      border: 0;
    }
  }
}

.menu__link {
  display: block;
  transition: background-color, box-shadow, $trans-default;

  &:hover,
  &--active {
    background-color: $n-focus;
    box-shadow: $n-accent;
    color: $n-text-active;
  }

  &--active {
    pointer-events: none;
  }
}

.menu__icon {
  line-height: $bar-height;
  margin-right: gutter(4);
}

.menu__text {
  display: none;

  @include susy-media(medium) {
    display: inline-block;
    font-size: 1.6rem;
    vertical-align: top;
  }
}

.menu__data-content {
  position: relative;

  @include susy-media(small-only) {
    &:hover {
      &::before,
      &::after {
        display: block;
      }
    }
  }

  &::before,
  &::after {
    animation: .75s linear fade-in;
  }

  &::before {
    @include absolute(bottom -4rem right 2rem);
    background-color: $white;
    border-radius: em(5px);
    box-shadow: 0 .1rem .5rem $black-hint;
    color: $black-primary;
    content: attr(data-content);
    display: none;
    font-size: 1.4rem;
    font-weight: 300;
    height: 0;
    line-height: 0;
    min-width: 5rem;
    padding: em(15px) em(10px);
    text-align: center;
    z-index: 2;
  }

  &::after {
    @include absolute(bottom -2rem right 3rem);
    background-color: $white;
    border-radius: em(1px);
    box-shadow: 0 -.1rem .1rem -.1rem $black-hint,
                -.1rem 0 .1rem -.1rem $black-hint;
    content: ' ';
    display: none;
    height: 1rem;
    margin: 0 auto;
    transform: rotate(45deg);
    width: 1rem;
    z-index: 2;
  }

  &--active {
    pointer-events: none;
  }
}

.menu__sibling {
  margin-top: $bar-height;
}

@keyframes fade-in {
  0% { opacity: 0; }
  85% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide {
  0% { transform: translate3d(0, -100%, 0); }

  100% { transform: translate3d(0, 0, 0); }
}
