.tracklist {
  @extend %player-container;
}

.tracklist__wrapper {
  background-color: rgba($shark, .93);
  border-radius: .5rem .5rem 0 0;
  box-shadow: 0 -.2rem .3rem $black-hint;
  color: $white-primary;
  height: 20rem;
  overflow: auto;

  &-enter,
  &-enter-active,
  &-leave-active {
    transition: transform $trans-default;
  }

  &-enter,
  &-leave-active {
    transform: translate3d(0, 100%, 0);
  }

  &-enter-active {
    transform: translate3d(0, 0, 0);
  }
}

.tracklist__track {
  box-shadow: 0 .1rem .1rem rgba($light-gray, $disabled);
  display: block;
  opacity: $l-secondary;
  overflow: hidden;
  padding: gutter(16);
  transition: opacity $trans-default;

  &--active {
    animation: .5s $trans-func fade;
    background-color: rgba($shark, $hint);
    opacity: 1;
  }
}

.tracklist__artwork {
  float: left;
  height: $player-height;
  margin-right: gutter();
  position: relative;

  &--filter {
    &::before {
      @include absolute(left);
      background-color: rgba($shark, $hint);
      content: '';
      height: $player-height;
      width: $player-height;
    }

    &::after {
      @include absolute(right left);
      @include blur(.1rem, $white, $white);
      content: '\266a';
      font-size: 4rem;
      height: $player-height;
      line-height: $player-height;
      margin: 0 auto;
      text-align: center;
      width: 4rem;
    }
  }
}

.tracklist__img {
  height: $player-height;
  object-fit: cover;
  width: $player-height;
}

.tracklist__data {
  float: left;
  width: span(8);

  &--title,
  &--user {
    @extend %ellipsis;
    line-height: $player-height / 2;
    margin: 0;
  }

  &--user {
    color: $white-secondary;
  }

  &--title {
    font-weight: 700;
  }
}

.tracklist__icons {
  float: right;
  text-align: right;
  width: span(3);
}

.tracklist__icon {
  font-size: 2.5rem;
  line-height: $player-height;
  padding: 0 2rem;
  text-shadow: $player-icon-shadow;
}

.tracklist__btn {
  &:hover {
    color: $white-secondary;
  }

  &:active {
    color: $pink-disabled;
  }
}

.tracklist__btn--heart {
  &:hover {
    .tracklist__icon--heart::before {
      color: $light-pink;
      content: '\f004';
      text-shadow: 0 -.1rem .2rem rgba($light-pink, $hint);
    }
  }

  &:active {
    .tracklist__icon--heart::before {
      color: $pink-disabled;
    }
  }
}

@keyframes fade {
  0% { opacity: $l-secondary; }
  100% { opacity: 1; }
}
