.music-box {
  @include fixed(bottom left right);
  z-index: $n-stack-level;
}

.player {
  @extend %full__container;
  background-color: $shark;
  box-shadow: 0 -.2rem .3rem $black-hint;
  color: $white-secondary;
  position: relative;
  text-align: center;

  &.enter {
    transform: translate3d(0, 100%, 0);

    &.enter-active {
      transform: translate3d(0, 0, 0);
      transition: transform $trans-default;
    }
  }

  &.leave-active {
    transform: translate3d(0, 100%, 0);
    transition: transform $trans-default;
  }

  &__wrapper {
    @extend %justified;
    height: 100%;
    width: 100%;
  }
}

.player__icon {
  font-size: 2rem;

  &--playpause {
    font-size: 3.1rem;
  }

  &--times {
    font-size: 1.6rem;
  }
}

.player__ctrl {
  box-shadow: .1rem 0 0 $white-disabled;
  display: table-cell;
  height: $player-height;
  position: relative;
  vertical-align: middle;
  width: 7.5rem;
}

.player__btn {
  display: block;
  height: $player-height;
  text-shadow: $player-icon-shadow;
  width: 100%;

  &:hover,
  &--focus {
    color: $white;
  }

  &--focus {
    background-color: $dark-gray;
  }

  &:active {
    color: $pink-disabled;
  }

  &--playpause {
    @include blur(.2rem, $white, $white-hint);

    &:hover {
      color: $white-hint;
    }
  }
}

.player__artwork {
  box-shadow: none;
  overflow: hidden;
  width: $player-height;

  &--img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
}

.player__track {
  @extend %small;
  padding: 1rem;
  text-align: left;
  width: 100%;

  @include susy-media(medium) {
    width: span(2 wider) + gutter();
  }

  &--title,
  &--user {
    @extend %ellipsis;
    line-height: $player-height / 2 - 1;
    margin: 0;
  }

  &--title {
    color: $white-primary;
    font-weight: 700;
  }
}

.player__volume {

  &--control {
    @include absolute (bottom 100% right);
    background-color: $dark-gray;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 -.2rem .3rem $black-hint;
    height: 0;
    transition: height ease .2s;
    width: 100%;
  }

  &--range {
    @include absolute(bottom right left);
    background-color: $light-gray;
    border-radius: 1rem;
    cursor: pointer;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    transition: height ease .2s;
    width: 20%;
  }

  &--slider {
    @include absolute(bottom);
    background-color: $light-pink;
    border-radius: 1rem;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &--expand {
    height: 15rem;

    > .player__volume--range {
      height: 13.5rem;
    }
  }
}

.player__timer {
  @include absolute(bottom $player-height left);
  box-shadow: 0 -.2rem .3rem $black-disabled;
  display: table;
  height: 0;
  table-layout: fixed;
  width: 100%;

  @include susy-media(medium) {
    box-shadow: .1rem 0 0 $white-disabled;
    height: $player-height;
    position: unset;
  }
}

.timer__item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  &--current,
  &--remaining {
    display: none;

    @include susy-media(medium) {
      display: table-cell;
      width: 7rem;
    }
  }

  &--progress {
    overflow: hidden;
    width: auto;
  }
}

.player__progress {
  &--wrap,
  &--slider {
    height: .5rem;

    @include susy-media(medium) {
      height: 1rem;
    }
  }

  &--wrap {
    background-color: $light-gray;
    cursor: pointer;
    overflow: hidden;

    @include susy-media(medium) {
      border-radius: 1rem;
    }
  }

  &--slider {
    background-color: $light-pink;
  }
}
