.music-player {
  @include fixed(bottom left right);
  // background-color: rgba($dark-gray, .9);
  background-color: tint($dark-gray, 5%);
  border: .1rem solid $dark-gray;
  box-shadow: 0 .2rem 1.4rem rgba($light-gray, .1);
  height: $bar-height;
  transform: translate3d(0, 100%, 0); //Tuck to bottom
  transition: transform ease .5s;

  &.is-open {
    transform: translate3d(0, 0, 0);
  }
}

.mp-controls {
  @extend %reset-ul;
  position: relative;
  text-align: center;
}

.mp-hgroup {
  line-height: 0;
  margin: 0;

  li {
    float: left;
    margin-right: span(2) + gutter(16);
    position: relative;
    width: span(1);

    &:last-child {
      float: right;
      margin-right: 0;
    }
  }
}

.mp-btn {
  color: $white-secondary;
  display: block;
  line-height: $bar-height;
  transition: background-color ease .2s;
  width: 100%;

  &:hover,
  &.focus {
    color: $white;
  }

  &:active {
    color: $light-pink;
  }

  &.focus {
    background-color: $dark-gray;
  }

  i {
    line-height: inherit;
    text-shadow: 0 -.1rem 0 $black-hint;
  }
}

// .mp-btn-volume:hover {
//   background-color: $dark-gray;

//   + .mp-volume-control {
//     height: 15rem;
//     overflow: visible;

//     > .mp-volume-range {
//       height: 13.5rem;
//     }
//   }
// }

.mp-volume-control {
  @include absolute (bottom 100% right);
  background-color: $dark-gray;
  border-radius: 1rem 1rem 0 0;
  height: 0;
  overflow: hidden;
  transition: height ease .2s;
  width: 100%;

  &.is-open {
    height: 15rem;
    overflow: visible;

    > .mp-volume-range {
      height: 13.5rem;
    }
  }
}

.mp-volume-range {
  @include absolute(bottom right left);
  background-clip: padding-box;
  background-color: $light-gray;
  border-radius: 1rem;
  cursor: pointer;
  height: 0;
  margin: 0 auto;
  transition: height ease .2s;
  width: 20%;
}

.mp-volume-slider {
  @include absolute(bottom);
  background-color: $light-pink;
  border-radius: 1rem;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
}
