.nav-search {
  @extend %reset-ul;
  float: right;
  line-height: $bar-height;
  position: relative;
}

.search-form {
  @include breakpoint($medium-down) {
    display: none;
  }

  .fa-search {
    @include absolute(top 1.3rem right);
    z-index: 1;
  }
}

.searchbar {
  background-color: transparent;
  border: 0;
  box-shadow: inset 0 -.1rem 0 $black-disabled;
  line-height: $bar-height;
  padding: 0 3.2rem 0 1.5rem;

  &:focus {
    outline: none;

    + .focus-bar {
      transform: scaleX(1);
    }

    &::placeholder {
      opacity: $secondary;
      transform: scale(.85);
    }
  }

  &::placeholder {
    transition: $transition-default;
  }
}

.focus-bar {
  @include absolute(bottom left);
  background: $light-pink;
  height: .2rem;
  transform: scaleX(0);
  transition: transform $transition-default;
  width: 100%;
}
