.oc-menu {
	display: block;

	a:first-of-type {
		@extend %lead;
		@include absolute(right);
		color: $oc-link;
		line-height: 0;
		padding: 1rem;
	}
}

.oc-slider {
	@include fixed(top left (-$oc-width));
	background-color: $oc-background;
	height: 100%;
	transition: transform ease .5s;
	width: $oc-width;
	z-index: 2;
}

.visible.oc-slider {
	transform: translate3d($oc-width, 0, 0);
}

.visible.oc-overlay {
	@include fixed(top left);
	background-color: $black-disabled;
	cursor: pointer;
	height: 100%;
	opacity: 1;
	transition: all ease .5s;
	width: 100%;
	z-index: 1;
}

.oc-item-container {
	padding: 4rem 2rem 0;
}

.oc-item {
	@extend %lead;
	border-bottom: solid 1px $black-disabled;
	color: $oc-link;
	cursor: pointer;
	float: left;
	margin: 0;
	padding: 1.5rem;
	width: 100%;

	&:hover {
		color: $oc-hover;
	}
}
