.off-canvas-menu {
  @include breakpoint($medium) {
    display: none;
  }
}

.oc-overlay {
  @include fixed(top left);
  background-color: $black-disabled;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: $oc-stack-level;

  &.enter {
    opacity: 0;

    &.enter-active {
      opacity: 1;
      transition: opacity 500ms ease;
    }
  }

  &.leave-active {
    opacity: 0;
    transition: opacity 500ms ease;
  }
}

.oc-menu {
  @include fixed(right inherit);
  background-color: $oc-background;
  font-weight: 700;
  height: 100%;
  width: $oc-width;
  z-index: $oc-stack-level + 1;

  &.enter {
    transform: translate3d(-100%, 0, 0);

    &.enter-active {
      transform: translate3d(0, 0, 0);
      transition: transform ease .5s;
    }
  }

  &.leave-active {
    transform: translate3d(-100%, 0, 0);
    transition: transform ease .5s;
  }
}

.oc-times {
  @extend %lead;
  @include absolute(right);
  color: $oc-link;
  cursor: pointer;
  line-height: 0;
  padding: 1rem;
}

.oc-item-container {
  padding: 4rem 2rem;
}

.oc-item {
  @extend %lead;
  border-bottom: $oc-border;
  color: $oc-link;
  display: block;
  padding: 1.5rem;

  &:hover {
    color: $oc-hover;
  }

  &.active {
    color: $oc-hover;
  }
}
