.menu {
	display: block;

	a:first-of-type {
		@extend %lead;
		@include absolute(right);
		color: rgba($white, $secondary);
		line-height: 0;
		padding: 1rem;
	}
}

.slider {
	@include fixed(top left -30rem);
	background: $dark-gray;
	height: 100%;
	transition: transform ease .5s;
	width: 300px;
	z-index: 2;
}

.visible.slider {
	transform: translate3d(300px, 0, 0);
}

.visible.overlay {
	@include fixed(top left);
	background-color: $black-disabled;
	cursor: pointer;
	height: 100%;
	opacity: 1;
	transition: all ease .5s;
	width: 100%;
	z-index: 1;
}

.item-container {
	padding: 4rem 2rem 0;
}

.menu-item {
	@extend %lead;
	border-bottom: solid 1px $black-disabled;
	color: rgba($white, $secondary);
	cursor: pointer;
	float: left;
	margin: 0;
	padding: 1.5rem;
	width: 100%;

	&:hover {
		color: $cyan;
	}
}
