.pagination-wrapper {
  margin-left: em(-5px);
  margin-right: em(-5px);
  margin-top: gutter() * 3;
}

.pagination {
  display: table;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  width: 60%;

  @include susy-media(medium) {
    border-spacing: em(5px) 0;
    width: 100%;
  }
}

.pagination__pages {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;

  @include susy-media(medium) {
    margin: 0 auto;
  }

  @include susy-media(large) {
    width: 80%;
  }
}

.pagination__item {
  @extend %btn;
  @extend %btn--basic;
  display: table-cell;
  line-height: 3.5rem;
  margin-right: gutter();
  vertical-align: middle;
  width: 1%;

  @include susy-media(medium) {
    border-color: $black-secondary;
  }

  &--disabled {
    @extend %btn--disabled;
    background-color: shade($white, 2%);
  }

  &--ellipsis {
    box-shadow: none;
    font-size: 125%;
    font-weight: 700;
    pointer-events: none;

    &::after {
      content: '\2026';
    }
  }

  &--caret {
    width: (100 / 3) * 1%;

    @include susy-media(small-only) {
      &:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      &:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    @include susy-media(medium) {
      width: em(70px);
    }
  }
}

.pagination__label {
  pointer-events: none;

  @include susy-media(small-only) {
    display: none;
  }

  &--prev {
    margin-left: em(2px);
  }

  &--next {
    margin-right: em(2px);
  }
}

.pagination__index {
  display: none;

  @include susy-media(medium) {
    display: table-cell;
  }

  &--current {
    background-color: $violet-red;
    box-shadow: none;
    color: $white;
    display: table-cell;
    pointer-events: none;

    @include susy-media(small-only) {
      border-radius: 0;
    }
  }
}
