.profile {
  @extend %main__container;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.profile__section {
  @include span(full);

  &--cover {
    margin-bottom: em(10px);

    @include susy-media(medium) {
      padding-right: em(15px);
      width: span(5);
    }

    @include susy-media(large) {
      width: span(4) + gutter();
    }
  }

  &--details {
    @include susy-media(medium) {
      float: left;
      padding-left: em(15px);
      width: span(7) + gutter();
    }

    @include susy-media(large) {
      width: span(8);
    }
  }
}

.profile__cover {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: em(350px);
}

.profile__textarea {
  @include span(full);
  margin-bottom: em(10px);
}

.profile__info {
  &--primary {
    -webkit-font-smoothing: antialiased;
    color: $white-primary;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 0 .1rem $white-secondary;
  }

  &--secondary {
    color: $white-secondary;
    margin-bottom: 0;
  }

  &--tertiary {
    color: $white-hint;
  }

  &--icon {
    margin-right: 1rem;
  }
}
