.profile {
  @extend %main__container;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.profile__section {
  @include span(full);

  &--cover {
    margin-bottom: 1rem;

    @include susy-media(medium) {
      @include span(5);
      max-width: 27rem;
      min-width: 22.5rem;
    }

    @include susy-media(large) {
      @include span(4 wider);
      margin-bottom: 0;
      margin-right: gutter(8);
      max-width: 35rem;
    }
  }

  &--details {
    @include susy-media(medium) {
      float: none;
      overflow: hidden;
      padding-left: gutter();
      width: auto;
    }

    @include susy-media(large) {
      padding-left: 0;
    }
  }
}

.profile__cover {
  display: block;
  margin: 0 auto;
  max-width: 35rem;
  width: 100%;
}

.profile__textarea {
  @include span(full);
  margin-bottom: 1rem;
}

.profile__info {
  &--primary {
    -webkit-font-smoothing: antialiased;
    color: $white-primary;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 0 .1rem $white-secondary;
  }

  &--secondary {
    color: $white-secondary;
    margin-bottom: 0;
  }

  &--tertiary {
    color: $white-hint;
  }

  &--icon {
    margin-right: 1rem;
  }
}
