.profile {
  @extend %main__container;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.profile__section {
  @include span(full);

  &--cover {
    margin-bottom: 1rem;

    @include susy-media(medium) {
      @include span(5);
      max-width: 27rem;
      min-width: 22.5rem;
    }

    @include susy-media(large) {
      @include span(4 wider);
      margin-bottom: 0;
      margin-right: gutter(8);
      max-width: 35rem;
    }
  }

  &--data {
    @include susy-media(medium) {
      float: none;
      overflow: hidden;
      padding-left: gutter();
      width: auto;
    }

    @include susy-media(large) {
      padding-left: 0;
    }
  }
}

.profile__cover {
  display: block;
  margin: 0 auto;
  max-width: 35rem;
  width: 100%;
}

.profile__textarea {
  @include span(full);
  margin-bottom: 1rem;
}

.profile__text {
  &--headline {
    -webkit-font-smoothing: antialiased;
    color: $white-primary;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 0 .1rem $white-secondary;
  }

  &--lead {
    color: $white-secondary;
    margin-bottom: 0;
  }

  &--byline {
    color: $white-hint;
  }
}

.stats {
  color: $white-secondary;
  float: left;
  margin-bottom: gutter(10);
  width: 100%;
}

.stats__item {
  display: inline-block;
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

.stats__icon {
  margin-right: .3rem;
}

.stats__link {
  display: block;

  &--hashtag {
    background-color: rgba($white, .2);
    border-radius: 2rem;
    color: $white;
    font-weight: 700;
    padding: .5833em .833em;
    transition: background-color $trans-default;

    &:hover {
      background-color: #746363;
    }
  }
}
