.s-modal,
.s-modal__portal {
  position: relative;

  @include susy-media(large) {
    display: none;
  }
}

.s-modal__portal {
  transition: color $trans-duration;

  &:hover {
    color: $black-primary;
  }

  &:active {
    color: $violet-red;
  }
}

.s-modal__form {
  border-bottom: em(4px) solid rgba($white, $l-secondary);
  margin-bottom: em(8px);
  padding-bottom: em(8px);
  width: 100%;
}

.s-modal__label {
  color: rgba($white, .54);

  &--text {
    margin: 0;
  }
}

.s-modal__btn {
  @include fixed(top right);
  color: $white;
  padding: 1rem;
  z-index: $m-stack-level + 1;

  h3 {
    margin: 0;
  }
}

.s-modal__input {
  @extend %input-search;
  color: rgba($white, $l-primary);
  font-size: 2.4rem;
  line-height: $header-line-height;
  width: 100%;

  @include susy-media(medium) {
    font-size: 3.1rem;
  }
}

.s-modal__wrapper {
  width: 90%;
}

// ReactCSSTransitionGroup
.s-modal-enter {
  opacity: .01;

  &-active {
    opacity: 1;
    transition: opacity .2s linear;
  }
}

.s-modal-leave {
  opacity: 1;

  &-active {
    opacity: .01;
    transition: opacity .2s linear;
  }
}
