.m-search {
	float: right;

	@include breakpoint($large) {
		display: none;
	}

	.form-group {
		@include fixed(top 50% left 50%);
		background-color: transparent;
		max-width: 90%;
		opacity: 0;
		padding: 6rem 0;
		transform: translate(-35%, -65%);
		transition: all $transition-default;
		width: 100%;
		z-index: -1;
	}
}

.m-controller {
	position: relative;

	.m-btn-search {
		line-height: 4rem;
		z-index: 0;
	}

	.m-btn-times {
		@include fixed(top right);
		font-size: 1.9rem;
		opacity: 0;
		padding: 1rem;
		transform: translate(2rem) rotate(90deg);
		transition: all $transition-default;
		z-index: -1;

		@include breakpoint($medium) {
			font-size: 3.1rem;
		}
	}
}

.m-modal {
	@include absolute(top .7rem right -.7rem);
	background-color: $light-pink;
	border-radius: 50%;
	height: 3rem;
	transform: scale(0);
	transform-origin: 50%;
	transition: all .5s ease-in-out;
	width: 3rem;
}

.m-open {
	overflow: hidden;

	.m-modal {
		transform: scale(80);

		+ .m-btn-search {
			opacity: 0;
			z-index: -1;
		}

		~ .m-btn-times {
			opacity: 1;
			transform: none;
			z-index: 1;
		}
	}

	.m-search .form-group {
		opacity: 1;
		transform: translate(-50%, -65%);
		transition-delay: .2s;
		z-index: 1;
	}
}

.m-searchbar {
	background-color: transparent;
	border: 0;
	border-bottom: .4rem solid rgba($white, $primary);
	color: rgba($white, $primary);
	font-size: 2.4rem;
	line-height: $header-line-height;
	padding: 1.5rem;
	width: span(full);

	@include breakpoint($medium) {
		font-size: 4.8rem;
	}

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: rgba($white, $primary);
	}

	+ label {
		@include absolute(left bottom);
		color: rgba($white, $primary);
		padding: 1.5rem;
	}
}
