.modal,
.modal__portal {
  position: relative;

  @include susy-media(large) {
    display: none;
  }
}

.modal__portal {
  transition: color $trans-duration;

  &:hover {
    color: $black-primary;
  }

  &:active {
    color: $violet-red;
  }
}

.modal__overlay {
  @include absolute(top .7rem right -.7rem);
  background-image: $m-overlay-bg;
  border-radius: 50%;
  height: 3rem;
  transform: scale(0);
  transition: transform $m-transition-long;
  width: 3rem;
  z-index: $m-stack-level;

  &--open {
    transform: scale(80);
  }
}

.modal__form {
  @include fixed(top 50% left 50%);
  background-color: transparent;
  max-width: 90%;
  opacity: 1;
  padding: 6rem 0;
  transform: translate(-50%, -65%);
  width: 100%;
  z-index: $m-stack-level + 1;

  label {
    @include absolute(left bottom);
    color: rgba($white, $l-secondary);
    padding: 1.5rem;
  }
}

.modal__btn {
  @include fixed(top right);
  color: $black-secondary;
  padding: 1rem;
  z-index: $m-stack-level + 1;

  &:hover {
    color: $black-primary;
  }

  h3 {
    margin: 0;
  }
}

.modal__input {
  @extend %input-search;
  border-bottom: .4rem solid rgba($white, $l-secondary);
  color: rgba($white, $l-primary);
  font-size: 2.4rem;
  line-height: $header-line-height;
  padding: 1.5rem;
  width: span(full);

  @include susy-media(medium) {
    font-size: 4.8rem;
  }

  &::placeholder {
    color: rgba($white, $l-secondary);
  }
}

// ReactCSSTransitionGroup
.modal-enter {

  .modal__form {
    opacity: 0;
    transform: translate(-35%, -65%);
  }

  .modal__btn {
    opacity: 0;
    transform: translate(2rem) rotate(90deg);
  }

  &-active {
    .modal__form {
      opacity: 1;
      transform: translate(-50%, -65%);
      transition: all $m-transition-short .2s;
    }

    .modal__btn {
      opacity: 1;
      transform: none;
      transition: all $m-transition-short;
    }
  }
}

.modal-leave-active {
  .modal__form {
    opacity: 0;
    transform: translate(-35%, -65%);
    transition: all $m-transition-short;
  }

  .modal__btn {
    opacity: 0;
    transform: translate(2rem) rotate(90deg);
    transition: all $m-transition-short;
  }
}
