.tags {
  @include span(full);
}

.tag {
  border-color: inherit;
  display: inline-block;
  margin-bottom: gutter();
  margin-right: gutter();

  &:last-child {
    margin-right: 0;
  }

  &--card {
    margin-bottom: .5rem;
    margin-right: .5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.tag__item {
  @include relative;
  border-color: transparent;
  border-radius: 0 em(4px) em(4px) 0;
  border-style: solid;
  border-width: em(1px) em(1px) em(1px) 0;
  display: inline-block;
  line-height: 1;
  margin-left: 1.1em;
  padding: .5833em 1.5em;
  transition: color $trans-duration;
  z-index: 1;

  &::before {
    @include absolute(top 50% right 100%);
    background-color: inherit;
    border-left: em(1px) solid transparent;
    border-top: em(1px) solid transparent;
    content: '';
    display: block;
    height: 1.56em;
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    width: 1.56em;
    z-index: -1;
  }

  &::after {
    @include absolute(top 50% left -.25em);
    background-color: $white;
    border-radius: em(10px);
    box-shadow: 0 -em(1px) em(1px) $black-hint;
    content: '';
    display: block;
    height: .5em;
    margin-top: -.25em;
    width: .5em;
    z-index: 0;
  }

  &--card,
  &--card::before {
    border-color: tint($shark, 85%);
  }

  &--card {
    background-color: tint($light-gray, 35%);
    color: $black-secondary;
    font-size: 1.2rem;

    &:hover,
    &:hover::before {
      border-color: tint($shark, 65%);
    }

    &:hover {
      background-color: tint($light-gray, 10%);
      color: $black-primary;
    }
  }

  &--profile,
  &--profile::before {
    border-color: $white-secondary;
  }

  &--profile {
    background-color: transparent;
    border-color: $white-secondary;
    border-style: solid;
    border-width: em(1px) em(1px) em(1px) 0;
    color: $white-secondary;
    font-size: 1.4rem;

    &:hover,
    &:hover::before {
      border-color: $white;
    }

    &:hover {
      background-color: shade($tc__overlay--white, 10%);
      color: $white;
    }
  }
}

.tag__text {
  @extend %ellipsis;

  &--card {
    max-width: em(500px);

    @include susy-media(large) {
      max-width: em(80px);
    }
  }
}
