.tags {
  @include span(full);
}

.tag {
  display: inline-block;
  margin-bottom: gutter();
  margin-right: gutter();
  border-color: inherit;

  &:last-child {
    margin-right: 0;
  }

  &--card {
    margin-bottom: .5rem;
    margin-right: .5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.tag__item {
  @include relative;
  border-color: transparent;
  border-radius: 0 .5rem .5rem 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  display: inline-block;
  line-height: 1;
  margin-left: 1.1em;
  padding: .5833em 1.5em;
  transition: color $trans-duration;
  z-index: 1;

  &::before {
    @include absolute(top 50% right 100%);
    background-color: inherit;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    content: '';
    display: block;
    height: 1.56em;
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    width: 1.56em;
    z-index: -1;
  }

  &::after {
    @include absolute(top 50% left -.25em);
    background-color: $white;
    border-radius: 1rem;
    box-shadow: 0 -.1rem .1rem $black-hint;
    content: '';
    display: block;
    height: .5em;
    margin-top: -.25em;
    width: .5em;
    z-index: 0;
  }

  &--card {
    background-color: mix($light-gray, $white, ($secondary * 100) * 1%);
    color: $black-secondary;
    font-size: 1.2rem;

    &:hover {
      background-color: mix($light-gray, $white, ($primary * 100) * 1%);
      color: $black-primary;
    }
  }

  &--profile {
    background-color: $tc__overlay--white;
    border-color: $white;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: $white-secondary;
    font-size: 1.4rem;

    &::before {
      border-left: 1px solid $white;
      border-top: 1px solid $white;
    }

    &:hover {
      background-color: shade($tc__overlay--white, 10%);
      color: $white-primary;
    }
  }
}

.tag__text {
  @extend %ellipsis;

  &--card {
    max-width: 50rem;

    @include susy-media(large) {
      max-width: 8rem;
    }
  }
}
