%tracklist__artwork {
  float: left;
  margin-right: gutter();
  position: relative;
}

%tracklist__filter {
  &::before {
    @include absolute(left);
    background-color: rgba($black, $secondary);
    content: '';
  }

  &::after {
    @include absolute(right left);
    @include blur(.1rem, $white, $white);
    animation: 2s linear infinite pulse;
    content: '\f028';
    margin: 0 auto;
    text-align: center;
  }
}

%tracklist__icons {
  float: right;
  text-align: right;
  width: span(3);
}

.tracklist {
  @extend %full__container;
}

.tracklist__img {
  object-fit: cover;
  width: 100%;
}

.tracklist__link {
  display: inline-block;
}

.tracklist__btn {
  &--fav {
    pointer-events: none;

    .tracklist__icon--heart::before {
      color: $light-pink;
      content: '\f004';
      text-shadow: 0 -.1rem .2rem rgba($light-pink, $hint);
    }
  }

  &--sc {
    color: $sc-orange;
  }
}

.tracklist__btn--sc {
  color: $sc-orange;
}

.tracklist__player {
  &-enter,
  &-leave-active {
    transform: translate3d(0, 100%, 0);
  }

  &-enter-active,
  &-leave-active {
    transition: transform $trans-default;
  }

  &-enter-active {
    transform: translate3d(0, 0, 0);
  }
}

// Player component
.tracklist-player__wrapper {
  background-color: rgba($shark, .95);
  border-radius: .5rem .5rem 0 0;
  box-shadow: 0 -.2rem .3rem $black-hint;
  color: $white-primary;
  height: 20rem;
  overflow: auto;
}

.tracklist-player__track {
  box-shadow: 0 .1rem .1rem rgba($light-gray, $disabled);
  display: block;
  opacity: $l-secondary;
  overflow: hidden;
  padding: gutter(16);
  transition: opacity $trans-default;
}

.tracklist-player__active {
  animation: .5s $trans-func fade;
  background-color: rgba($shark, $hint);
  opacity: 1;
}

.tracklist-player__artwork {
  @extend %tracklist__artwork;
  height: $player-height;
  width: $player-height;
}

.tracklist-player__filter {
  @extend %tracklist__filter;

  &::before {
    height: $player-height;
    width: $player-height;
  }

  &::after {
    font-size: 3.5rem;
    line-height: $player-height;
    width: 3.5rem;
  }
}

.tracklist-player__data {
  @extend %small;
  overflow: hidden;
}

.tracklist-player__title,
.tracklist-player__user {
  @extend %ellipsis;
  line-height: $player-height / 2;
  margin: 0;
}

.tracklist-player__title {
  font-weight: 700;
}

.tracklist-player__user {
  color: $white-secondary;
}

.tracklist-player__icons {
  @extend %tracklist__icons;
  min-width: 20rem;
}

.tracklist-player__icon {
  font-size: 2.5rem;
  line-height: $player-height;
  padding: 0 2rem;
  text-shadow: $player-icon-shadow;
}

.tracklist-player__btn {
  &:active {
    color: $pink-disabled;
  }

  &:hover {
    color: $white-secondary;
  }
}

.tracklist-player__btn--heart {
  &:hover {
    color: $light-pink;
    text-shadow: 0 -.1rem .2rem rgba($light-pink, $hint);

    .tracklist__icon--heart::before {
      color: $light-pink;
      content: '\f004';
      text-shadow: 0 -.1rem .2rem rgba($light-pink, $hint);
    }
  }

  &:active {
    color: $pink-disabled;
  }
}

// Page component
.tracklist-set__track {
  background-color: rgba($light-gray, $secondary);
  border-radius: .5rem;
  display: block;
  margin-bottom: gutter();
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &--even {
    background-color: rgba(tint($shark, 80%), $secondary);
  }
}

.tracklist-set__artwork {
  @extend %tracklist__artwork;
  height: 7rem;
  width: 7rem;
}

.tracklist-set__filter {
  @extend %tracklist__filter;

  &::before {
    height: 7rem;
    width: 7rem;
  }

  &::after {
    font-size: 3rem;
    line-height: 7rem;
    width: 3rem;
  }
}

.tracklist-set__data {
  overflow: hidden;
  padding: 1rem 0;
}

.tracklist-set__title,
.tracklist-set__user {
  @extend %ellipsis;
  line-height: (5 / 2) * 1rem;
  margin: 0;
}

.tracklist-set__title {
  font-weight: 700;
}

.tracklist-set__user {
  @extend %small;
  color: $black-secondary;
}

.tracklist-set__icons {
  @extend %tracklist__icons;
  min-width: 13rem;
  padding: 1rem 1rem 1rem 0;
}

.tracklist-set__icon {
  font-size: 2.1rem;
  line-height: 5rem;
  padding: 0 1rem;
}

.tracklist-set__btn {
  &:active {
    color: $pink-disabled;
  }

  &:hover {
    color: $black;
  }
}

.tracklist-set__btn--heart {
  color: $black-secondary;

  &:hover {
    color: $light-pink;
    text-shadow: 0 -.1rem .2rem rgba($light-pink, $hint);

    .tracklist__icon--heart::before {
      color: $light-pink;
      content: '\f004';
      text-shadow: 0 -.1rem .2rem rgba($light-pink, $hint);
    }
  }

  &:active {
    color: $pink-disabled;
  }
}

@keyframes fade {
  0% { opacity: $l-secondary; }
  100% { opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(.9); }
  50% { transform: scale(1); }
  100% { transform: scale(.9); }
}
