.waveform {
  @include absolute(left right);
  background: linear-gradient(
    135deg,
    rgba($aquamarine, $primary),
    rgba($gorse, $primary)
  );
  height: 100%;
  opacity: .21;
}

.waveform__img {
  display: block;
  height: 100%;
  opacity: .67;
  width: 100%;
}
