.waveform {
  @include absolute(left right);
  background-color: mix($light-pink, $wan-white-gray, 80%);
  height: 100%;
  opacity: .21;
}

.waveform__img {
  display: block;
  height: 100%;
  opacity: .67;
  width: 100%;
}
