.waypoint,
.loader,
.end {
  clear: both;
  float: left;
  width: 100%;

  &--top {
    margin: 11.5rem 0;
  }

  &--center {
    transform: translate3d(0, 40vh, 0);
  }

  &--bottom {
    margin: 5rem 0;
  }
}

.waypoint--debug {
  background-color: $sc-orange;
  padding: 1rem 0;
}

.loader,
.end {
  text-align: center;
}

.loader__icon {
  color: tint($shark, 10%);
  font-size: 3.1rem;
}

.end {
  background-color: $wan-white-gray;
  color: $black-hint;
}
