.web-icon__list {
  @extend %justified;
  overflow: hidden;
  border-spacing: em(15px) 0;
  font-size: 2.4rem;

  &--item {
    @extend %justified__item;
    width: 1%;
  }
}

.web-icon__link {
  color: $white-secondary;

  &:hover {
    color: $white-primary;
  }
}
